# AWS configuration
aws:
  region: ap-south-1
  
provider:
  # AWS provider package (Upbound)
  package: xpkg.upbound.io/crossplane-contrib/provider-aws:v0.56.0

credentials:
  secretNamespace: crossplane-system
  secretName: aws-secret
  secretKey: creds

# Optional Argo CD sync waves to install the provider before other resources
installOrder:
  enabled: true
  providerWave: "0"
  providerConfigWave: "1"
  vpcWave: "2"

# Values for the VPC stack
vpc:
  name: demo-vpc
  cidrBlock: 10.0.0.0/16
  enableDnsSupport: true
  tags:
    - key: Name
      value: demo-vpc
    - key: Environment
      value: dev
